@{
    ViewBag.Title = "Verify Email";
}

<div class="container">
    <div class="alert alert-success" style="margin-top: 180px" role="alert">
        We send you email confirmation to @(TempData["Email"]). Please, check it out.
    </div>
</div>